@import 'bootstrap/dist/css/bootstrap.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #eefdff;
}

.color-box {
  cursor: pointer;
  width: 200px;
  height: 300px;
  background-color: lightcoral;
  border-radius: 10px;
}

.palette-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5px;
}

.generate-btn, .save-btn {
  margin-top: 20px;
  border: 2px solid black;
  background-color: transparent;
  border-radius: 10px;
  width: auto;
  height: 40px;
  color: black;
}

.save-btn {
  background-color: black;
  color: white;
}

.btn-group {
  gap: 3px;
}

.color-form {
  width: 50%;
  margin: 0 auto;
}

.center {
  margin: 0 auto;
}

.input-field {
  width: 30%;
  margin: 0 auto;
}

.basic-btn {
  border: 1px solid black;
  border-radius: 10px;
  background-color: transparent;
  color: black;
}

.form-height {
  height: 60px;
  gap: 5px;
}
