@import 'bootstrap/dist/css/bootstrap.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #eefdff;
}

.color-box {
  cursor: pointer;
  width: 200px;
  height: 300px;
  border-radius: 10px;
}

.palette-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5px;
}

.save-btn {
  border: none;
  border-radius: 10px;
  background-color: rgb(129, 255, 129);
  color: rgb(0, 0, 0);
}

.save-btn:hover {
  background-color: #20D162;
}

.btn-group {
  gap: 3px;
}

.color-form {
  width: 50%;
  margin: 0 auto;
}

.center {
  margin: 0 auto;
}

.input-field {
  width: 30%;
  margin: 0 auto;
}

.basic-btn {
  border: 1px solid black;
  border-radius: 10px;
  background-color: transparent;
  color: black;
}

.form-height {
  height: 60px;
  gap: 5px;
}

.color-display {
  cursor: pointer;
  width: 200px;
  height: 300px;
  border-radius: 10px;
}

.w-10 {
  width: 10%;
}

.color-text {
  color: white;
  text-align: center;
  text-shadow: 1px black;
  font-size: 14px;
}

.palette-btn {
  float: bottom;
}

.bg-black {
  background-color: black;
  color: white;
}

.lock-btn {
  background-color: transparent;
  border: 2px solid black;
  color: black;
  font-weight: bold;
}

.lock-btn:hover {
  transition: 300ms;
  background-color: black;
  color: white;
}

.randomize-btn {
  border: 2px solid black;
}

.on-card {
  height: 15px;
  width: 30px;
  gap: 2px;
}
