@import 'bootstrap/dist/css/bootstrap.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #eefff6;
}

.color-box {
  cursor: pointer;
  width: 200px;
  height: 300px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.palette-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5px;
}

.save-btn {
  border: none;
  border-radius: 10px;
  background-color: rgb(129, 255, 129);
  color: rgb(0, 0, 0);
}

.save-btn:hover {
  background-color: #20D162;
}

.btn-group {
  gap: 3px;
}

.color-form {
  width: 50%;
  margin: 0 auto;
}

.center {
  margin: 0 auto;
}

.input-field {
  width: 30%;
  margin: 0 auto;
}

.basic-btn {
  border: 2px solid black;
  border-radius: 10px;
  background-color: transparent;
  color: black;
}

.form-height {
  height: 60px;
  gap: 5px;
}

.color-display {
  width: 200px;
  height: 300px;
  border-radius: 10px;
}

.palette-display {
  width: 60px;
  height: 130px;
}

.w-10 {
  width: 10%;
}

.color-text {
  color: white;
  text-align: center;
  text-shadow: 1px black;
  font-size: 14px;
}

.bg-black {
  background-color: black;
  color: white;
}

.lock-btn {
  background-color: transparent;
  border: 2px solid black;
  color: black;
  font-weight: bold;
}

.lock-btn:hover {
  transition: 300ms;
  background-color: black;
  color: white;
}

/* .randomize-btn {
  border: 2px solid black;
} */

.on-card {
  height: 15px;
  width: 30px;
  gap: 2px;
}

.back-btn:hover,
.randomize-btn:hover {
  transition: 300ms;
  background-color: black;
}

.input-field {
  margin: 0 auto;
}

hr {
  border-bottom: 1px solid black;
}

.edit-btn-view {
  height: 50px;
  width: 40px;
  top: 50px;
  right: 7%;
}

.top-view {
  display: flex;
  justify-content: space-between;
}

.profile-card {
  background-color: #262626;
  border-radius: 52% 48% 77% 23% / 33% 68% 33% 65%;
  height: 250px;
  width: 300px;
}

.user-img {
  border-radius: 20px;
  width: 33%;
}

.btn-hide {
  border: none;
  background-color: transparent;
  padding: 0;
  transition: 0.3s;
  transform: scale(.97);
}

.btn-hide:hover {
  border: none;
  background-color: transparent;
  transform: scale(1.02);
  transform-origin: center;
}

.palette-title {
  font-weight: bold;
  font-size: 18px;
}

.divider {
  border-left: 2px solid grey;
  margin-right: 25px;
  height: 30px;
}

.h-divider {
  border-bottom: 1px solid black;
  width: 120px;
}

.silent {
  color: grey;
  font-weight: normal;
  font-size: 20px;
}
